.modal {
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 541px;
  height: 752px;
  border-radius: 24px;
  background-color: white;
  padding: 40px 40px;
  box-shadow: 0 4px 60px rgba(0, 0, 0, 0.25);
}

.modalWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.img {
  object-fit: cover;
  border-radius: 14px;
  width: 100%;
  height: 314px;
  min-height: 289px;
}

.btnCloseModal {
  position: absolute;
  top: 14px;
  right: 14px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: black;
}

.carDetails {
  display: flex;
  flex-direction: column;
}

.carTitle {
  display: flex;
  gap: 5px;
  font-weight: bold;
  color: #121417;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 133.333%;
}

.carModel {
  color: #3470ff;
}

.carInfo {
  margin: 0;
  display: flex;
  padding-right: 200px;
  max-height: 40px;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  flex-shrink: 0;
  color: rgba(18, 20, 23, 0.5);
  font-family: Manrope;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.description {
  color: #121417;
  font-size: 14px;
  margin-bottom: 24px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 400;
  line-height: 142.857%;
}

.sectionTitle {
  margin: 0;
  margin-bottom: 8px;
  color: #121417;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.857%;
}

.accessories {
  margin: 0;
  color: rgba(18, 20, 23, 0.5);
  font-family: Manrope;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  display: flex;
  width: 461px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  margin-bottom: 24px;
}

.conditions {
  margin: 0;
  padding: 0;
  align-items: flex-start;
  flex-wrap: wrap;
  display: flex;
  width: 461px;
  height: 72px;
  flex-direction: row;
  align-items: flex-start;
  gap: 8px;
  flex-shrink: 0;
}

.condition {
  color: #363535;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.24px;
  display: flex;
  padding: 7px 14px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 35px;
  background: #f9f9f9;
}

.highlight {
  color: #3470ff;
  font-weight: 600;
}

.rentalButton {
  display: block;
  width: 168px;
  padding: 12px 0px;
  min-width: 168px;
  background-color: #3470ff;
  border-radius: 12px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
  margin: 0;
  margin-top: 24px;
  color: var(--White, #fff);
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 142.857%;
}

.rentalButton:hover {
  background-color: #0b44cd;
}
